*/*/*/__pycache__/*
*/*/__pycache__/*
*/__pycache__/*
__pycache__/*

dataset/*
filelists/*
logs/*
pretrain/*
results/*
vocoder/*

style_predictor/*/__pycache__/*
style_predictor/*/*.pt

*.ckpt
*.pyc
*.npy