ffmpeg-python
gradio>=3.7.0
numpy==1.23.5
pyworld==0.3.2
scipy==1.10.0
SoundFile==0.12.1
torch
torchaudio
torchcrepe
tqdm
rich
loguru
scikit-maad
praat-parselmouth
fairseq==0.12.2
librosa==0.9.1
tensorboard
tensorboardX
transformers==4.40.2
edge_tts
langdetect
pyyaml
pynvml
faiss-cpu
einops
PyWavelets
local_attention